extends ../layout/main-layout.pug

block styles 
    link(rel="StyleSheet" href="/css/product.css")

block content
    main
        h1 My Products
        if products.length > 0
            .grid 
                each product in products
                    article.card.product-item 
                        header.card_header 
                            h1.product__title #{product.title} :
                        .card__image 
                            img(src=product.imageUrl, alt="A Book")
                        .card__content 
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        .card__actions 
                            a.btn(href="/admin/edit-product/"+product.id+"?edit=true") Edit 
                            form(action="/admin/delete-product/", method="POST")
                                input(type="hidden",value=product.id,name="id")
                                input(type="hidden", value=product.price,name="price")
                                input(type="hidden" name="_csrf" value=csrftoken)
                                button.btn(type="submit") Delete
        else 
            h1 No Products        